doctype html
html
  head
    block title
      if locals.title
        title= title
      else
        title Eva admin

    // Viewport mobile tag for sensible mobile support
    meta(charset="utf-8")
    meta(name="author" content="D.R.U.G.")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")


    link(rel="stylesheet", href="/admin/styles/ng-admin.min.css")
    script(src="/admin/scripts/ng-admin.min.js" type="text/javascript")
    script(type="text/javascript")
      | var models =
      != JSON.stringify(models, 0, 2)
    script(src="/admin/scripts/main.js" type="text/javascript")
  body(ng-app="myApp")
    div(ui-view)
